body {
    display: flex;
    flex-direction: column;

    color: black;
    background: rgb(246, 254, 255);

    align-items: center;
    font-size: 20px;
}

.hint {
    color: #fcfefe;
}

.link {
    color: var(--tg-theme-link-color);
}

#usercard {
    text-align: center;
}

#naming {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.pricing-container,
.item-info-container {
    width: 100%;
    height: fit-content;

    margin-top: 20px;

    border-radius: 15px;
    box-shadow: 0 0 10px 4px rgba(7, 100, 134, 0.10);

    background-color: #FFFFFF;
}

#item-picture-container {
    width: fit-content;

    padding: 10px 10px 0px 10px;
}

.item-price {
    padding-top: 6px;
    margin: 18px 18px 8px 18px;

    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.item-info-title {
    padding-top: 6px;
    margin: 18px 18px 8px 18px;

    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.item-info {
    padding-top: 6px;
    margin: 18px 18px 8px 18px;

    text-align: justify;
    text-justify: inter-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.sizes {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(76px);

    overflow-x: scroll;
    scroll-snap-type: x proximity;

    column-gap: 6px;
    margin: 6px 18px 6px 18px;
    padding-bottom: 6px;
}

#size-eu {
    border: 2px rgb(7, 100, 134);
    border-style: solid none none none;
}

.size {
    padding: 6px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9em;

    background-color: rgb(33, 187, 221);
    color: #FFFFFF;
    border: 1px solid rgb(33, 187, 221);
    border-radius: 18%;
}

.size:hover {
    opacity: 1;
    background-color: rgb(175, 243, 202);
    border-width: 0px;
}

.image {
    max-width: 100%;
}

.poizon-item-link {
    width: 80%;
    height: 50px;

    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #FFFFFF;
    box-shadow: 0 0 10px 4px rgba(7, 100, 134, 0.10);

    border-radius: 20px;
    border-width: 0px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: none !important;
}

.poizon-item-link:active {
    background-color: #FAFAFA;
    box-shadow: none;
}
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: rgb(33, 187, 221);
    box-shadow: 32px -34px 0 5px rgb(33, 187, 221);
    animation: slide 1s infinite ease-in-out alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(33, 187, 221);
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 1s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% , 100% {
      bottom: -35px
    }
  
    25% , 75% {
      bottom: -2px
    }
  
    20% , 80% {
      bottom: 2px
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg)
    }
  
    25% , 75% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(25deg)
    }
  }
    
    