html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(246, 254, 255);
}

.link-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-evenly;

	margin-bottom: 16px;
}

.teletype-info {
	display: flex;
	flex: 0 1 25%;

	aspect-ratio: 1 / 1;
	height: calc(100% - 32px);

	align-items: center;
	justify-content: center;
}

.teletype-info-text {
	flex: 0 1 25%;

	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.teletype-link,
.brand-logo {
	display: flex;
	position: relative;

	aspect-ratio: 1 / 1;
	height: inherit;

	align-items: center;
	justify-content: center;
	text-align: center;
}

.logo-img-bg {
	display: block;
	width: 100%;
}

.container {
	margin: 0px 6px 0px 6px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px 20px;
	padding-top: 20px;
}

.img {
	width: 150px;
	align-self: center;
}

.card {
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

	display: flex;
	flex-direction: column;
}

.item {
	text-align: center;
	align-items: center;
}

.itemname {
	color: #000000;
	width: 100%-8px;
	margin-left: 4px;
	margin-right: 4px;

	padding-bottom: 15px;

	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.price {
	color: #000000;
	margin: auto 6px 0px 6px;
	width: auto;

	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 500;
}

.btn {
	width: auto;
	display: inline-block;
	padding: 10px 0px;
	margin: 5px 5px 5px 5px;

	border: none;
	background: rgb(33, 187, 221);
	border-radius: 15px;
	color: #FFFFFF;

	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 800;

	transition: background .2s linear;
}

.btn:hover {
	background: rgb(175, 243, 202);
}

.usercard {
	text-align: center;
}

.loader {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	transition: opacity 0, 3s ease-in;
}

.loader.show {
	opacity: 1;
}

.circle {
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
	animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

.search {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: center;
}

.inputbox {
	height: 20px;
	width: 57px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	border: 0;
	border-radius: 20px;

	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	transition: 0.2s linear;
}

.wideinputbox {
	height: 20px;
	width: 70%;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	border: 0;
	border-radius: 20px;

	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

.inputbox.transition {
	width: 70%;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.wideinputbox.transition {
	width: 70%;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	transition: 0.2s linear;
}

.pre-search-link-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 6px 6px 0px 6px;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none !important;
	color: inherit;
}

.link-item-not-found,
.link-tg-channel {
	background-color: #F2F1F1;
	border-radius: 22px;

	width: fit-content;
	height: 30px;

	padding: 4px 4px 4px 4px;
}

.link-item-not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;

	white-space: pre-line;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-weight: 800;
}

.link-tg-channel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.tg-icon {
	height: 100%;
	margin-right: 4px;
}

.tg-channel-cont {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.tg-channel-id,
.tg-channel-text {
	flex-basis: 40%;

	font-family: 'Montserrat', sans-serif;
}

.tg-channel-id {
	font-weight: 800;
	font-size: 10px;
}

.tg-channel-text {
	font-weight: 300;
	font-size: 6px;
}

.other-link-container {
	display: grid;
	grid-template-columns: 50% 40%;
	grid-template-rows: 1fr 1fr;

	margin-bottom: 16px;
	width: 100%;

	align-items: end;
	justify-items: center;
	justify-content: space-evenly;
}

.other-link {
	display: inline-block;
	position: relative;

	height: 100%;
	width: calc(100% - 32px);

	justify-content: center;
	text-align: center;
}

.link-img {
	width: 100%;
}

.other-link-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 800;

	display: inline;
}

#blog-link {
	grid-column: 1 / 1;
	grid-row: 1 / span 2;
	width: 100%;
}

#new-stuff-link {
	grid-column: 2 / 2;
	grid-row: 1 / 1;
	width: 100%;
	height: min-content;
}

#season-top-link {
	grid-column: 2 / 2;
	grid-row: 2 / 2;
	width: 100%;
	height: min-content;
}

#brand-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 800;
}

.brand-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: space-evenly;
}

.brand-logo {
	flex: 0 1 30%;

	aspect-ratio: 1 / 1;
	height: calc(100% - 32px);

	align-items: center;
	justify-content: center;

	margin-bottom: 20px;
}

.brand-fg {
	width: 90%;
	right: 5%;
}